*{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-transform: uppercase;
}
#tudo{
    text-align: center;
    padding: 0 auto;
}
#pagina{
    color: white;
    float: left;
    margin-top: 40px;
    margin-left: 0px;
}
#pagina span{
    color: #1e90ff;
}

#direita{
    float: right;
    margin-right: 80px;
    margin-top: 40px;
}
#direita a{
    text-decoration: none;
}
#direita h3{
    margin-top: 20px;
    color:#fff;
}
#direita h3{
    padding: 5px;
    border-radius: 16px;
    font-size: 25px;
}
#direita h3:hover{
    color: white;
    background-color: #1e90ff;
    border-radius: 16px;
    transition: 0.5s;
}
#conteudoPerfil{
    position: absolute;
    margin-top: 70px;
    margin-left: 400px;
    width: 800px;
    background:rgba(158, 172, 174, 0);
}
#conteudoPerfil img{
    margin-top: 20px;
    width: 200px;
    border-radius: 200px;
    padding-bottom: 20px;
}
#conteudoPerfil input{
    margin: 20px;
    border-radius: 16px;
}
.clear{
    clear: both;
}